<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="style.css" rel="stylesheet" />
    <title>Facebook</title>
  </head>
  <body>
    <ul>
      <li><a href="./">Home</a></li>
      <li><a href="./about">About</a></li>
      <li><a href="./facebook" class="active">Facebook</a></li>
      <li><a href="./pizza">Pizza</a></li>
    </ul>

    <h1>This page takes you to Facebook!</h1>
  </body>
</html>
